<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :email %>
  <%= error_span(@user[:email]) %>
  <%= f.input :username %>
  <%= error_span(@user[:username]) %>
    <%= f.input :password %>
    <%= error_span(@user[:password]) %>
    <%= f.association :roles ,  as: :check_boxes  %>
    <%= error_span(@user[:roles]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn btn-default' %>
<% end %>
