<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @item.company_name %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @item.cnpj %>
</p>

<p>
  <strong>Value:</strong>
  <%= @item.value %>
</p>

<p>
  <strong>Website:</strong>
  <%= @item.website %>
</p>

<p>
  <strong>Material:</strong>
  <%= @item.material %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
