<p id="notice"><%= notice %></p>

<h1>Listing Material Items</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Cnpj</th>
      <th>Value</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @material_items.each do |material_item| %>
      <tr>
        <td><%= material_item.company_name %></td>
        <td><%= material_item.cnpj %></td>
        <td><%= material_item.value %></td>
        <td><%= material_item.website %></td>
        <td><%= link_to 'Show', material_item %></td>
        <td><%= link_to 'Edit', edit_material_item_path(material_item) %></td>
        <td><%= link_to 'Destroy', material_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Material item', new_material_item_path %>
