<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @material_item.company_name %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @material_item.cnpj %>
</p>

<p>
  <strong>Value:</strong>
  <%= @material_item.value %>
</p>

<p>
  <strong>Website:</strong>
  <%= @material_item.website %>
</p>

<%= link_to 'Edit', edit_material_item_path(@material_item) %> |
<%= link_to 'Back', material_items_path %>
