<%= simple_form_for @material, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :description , placeholder: "Descrição do material" %>
  <%= error_span(@material[:description]) %>
  <%= f.input :specification , as: :text , placeholder: "Especificação do material" %>
  <%= error_span(@material[:specification]) %>
  <%= f.input :type_material , collection: [["Permanente","0"],["Consumo","1"]]%>
  <%= error_span(@material[:type_material]) %>
  <%= f.input :amount %>
  <%= error_span(@material[:amount]) %>
  <%= f.input :finality, as: :text , placeholder: "Finalidade para o material" %>
  <%= error_span(@material[:finality]) %>
  <%= f.input :note , as: :text , placeholder: "Observações" %>
  <%= error_span(@material[:note]) %>

  <%= f.simple_fields_for :items do |item| %>
    <%= render 'item_fields', f: item %>
  <%end %>
    <div id="links" class="links">
      <%= link_to_add_association 'Adicionar Cotação', f, :items ,:class => 'btn btn-primary' %>
    </div>
<br/>
    <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                materials_path, :class => 'btn btn-default' %>
<% end %>
