<div class="nested-fields">
  <fieldset>
    <legend>Cotação</legend>
  <%= f.input :company_name %>
  <%= f.input :cnpj %>
  <%= f.input :value %>
  <%= f.input :website %>
    <%= f.input :attach , as: :file %>
  <%= link_to_remove_association "Apagar Cotação", f , class: 'btn btn-danger' %>
  </fieldset>
  <br/>
</div>
