<%- model_class = Material -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @material.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @material.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:specification) %>:</strong></dt>
  <dd><%= @material.specification %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @material.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_material) %>:</strong></dt>
  <dd><%= @material.type_material %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount) %>:</strong></dt>
  <dd><%= @material.amount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:finality) %>:</strong></dt>
  <dd><%= @material.finality %></dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @material.note %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              materials_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_material_path(@material), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              material_path(@material),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
